@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Suez+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
--fuente-principal: "Montserrat", sans-serif;
--fuente-bufalo: "Suez One", serif;
--fulvous: #E58517;
--fireBrick: #AC2C28;
--claro: #F0D4A5;
--letras: #EDEDED;
}
.fuente-principal {
    font-family: var(--fuente-principal);
}
.fuente-bufalo {
    font-family: var(--fuente-bufalo);
}





