@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Suez+One&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --fuente-principal: "Raleway", sans-serif;
    --fuente-bufalo: "Suez One", serif;
    --fulvous: #e58517;
    --fireBrick: #ac2c28;
    --claro: #f0d4a5;
    --letras: #ededed;
}
.fuente-principal {
    font-family: var(--fuente-principal);
}
.fuente-bufalo {
    font-family: var(--fuente-bufalo);
}
a {
    text-decoration: none;
}
[type="checkbox"]:checked {
    background-color: #ac2c28;
}

[type="checkbox"] {
    color: #ac2c28;
}

.contenido a {
    color: #000;
    font-weight: 500;
}
.contenido a:hover {
    color: #ac2c28;
}
